/*Body da página*/
body {
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    overflow-x:hidden;
}

/*--------------------------------------- 
Inicio do header 
---------------------------------------------------*/

.headerTopo{
    background: #313131;
    color: #FFFFFF;
    padding: 0px;
    /* display: flex;
    align-items: center; Alinha ao centro verticalmente */
    /* justify-content: center; Alinha ao centro horizontalmente */
}

.headerTopo h2 {
    display:inline-flex;
    font-size: 12px;
    /* font-weight: 400; */
    /* margin-left: 0px; */
    font-weight: bold;
}

.headerTopo ul {
    list-style: none;
    margin: 0;
}

.headerTopo ul li {
    display:inline-flex;
    list-style: none;
    font-size: 13px;
    font-weight: 600;
    padding-right: 20px;
    vertical-align: middle;
    padding-left: 20px;
}

.headerTopo ul li a {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 20px !important;
}
.headerTopo ul li a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.headerTopo ul li i {
    font-size: 150%;
    padding-right: 5px;
}

/* ------------------------------------
Fim do header
------------------------------------------ */

/* ------------------------------------------------------
Inicio -> nav
--------------------------------------- */

.navTopo {
    margin: 20px;
}

.navTopo form input{
    border-radius: 15px 0 0 15px !important;
    background: #EEEEEE !important;
    border: none;
    margin: 0;
    padding: 10px 0px 10px 15px;
    margin-left: 40px;
}

.navTopo form input:focus {
    box-shadow: none
}

.navTopo button {
    background: #970000 !important;
    margin: 0;
    border-radius: 0 15px 15px 0 !important;
    border: none;
}

.navTopo button i {
    color: white;
}

.navTopo ul li {
    text-decoration: none;
    list-style: none;
    display:inline-flex;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 600;
    padding-left: 6px;
    padding-right: 6px;
}

.navTopo ul li a {
    text-decoration: none;
    list-style: none;
    display:inline-flex;
    vertical-align: middle;
    color: black;
}

.navTopo ul li a:hover {
    text-decoration: none;
    list-style: none;
}

.navTopo ul li a i {
    font-size: 125%;
    padding: 0 7px 0 7px;
}



/*------------------------------------------- 
Fim -> navTopo
---------------------------------------------------*/

/* ------------------------------------------
Início do NavMenu
------------------------------------------ */

.navMenu {
    background: #F7F7F7 !important;
    padding: 13px;
}

.navMenu ul {
    font-size: 16px;
    font-weight: 600;
}

.navMenu ul li{
    border-bottom: 3px solid #f7f7f7;

}

.navMenu ul li a {
    color: black;  
    margin: 0 10px 0 12px;
}

.navMenu ul li:hover,
.ativo {
    color: #0F0F0F !important;
    border-bottom: 3px solid #A30000;
}

.navMenu button {
    padding: 5px 25px 5px 25px;
}

.navMenu button a{
    text-decoration: none;
    list-style: none;
    color: white !important;
    margin: 0 5px 0 5px;
    font-size: 13px;
}

.navMenu button:hover {
    background: black;
}

.navMenu button i {
    font-size: 80%;
}

.navMenu ul li ul {
    margin-top: 3px;
    padding: 0;
}


.navMenu ul li ul li {
    padding: 10px 15px 10px 15px;
    border: none;
}

.navMenu ul li ul:hover {
    padding: 0;
}

.navMenu ul li ul li:hover {
    padding: 10px 15px 10px 15px;
    border: none;
}   

.navMenu ul li ul li a {
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
}

.navMenu ul li ul li a:hover {
    padding: 0;
    background: white;
    color: #a73333;
    border: none;
}

    
/* -----------------------------------------
Fim -> NavMenu
-------------------------------------------- */

/* --------------------------
Início -> navResponsive 
------------------------------*/

.navResponsive {
    padding-top: 10px;
    padding-bottom: 0px;
    margin: 0;
}

.navResponsive nav {
    padding: 0;
    margin: 0;
}

.navResponsive form input{
    border-radius: 15px 0 0 15px !important;
    background: #EEEEEE !important;
    border: none;
    margin: 0;
    padding: 10px 0px 10px 15px;
}

.navResponsive form input:focus {
    box-shadow: none
}

.navResponsive form button {
    background: #970000 !important;
    margin: 0;
    border-radius: 0 15px 15px 0 !important;
    border: none;
}

.navResponsive .btn i {
    color: white;
}

.navResponsive .fundo {
    background: #f7f7f7;;
}

.navResponsive .navbar-brand ul li{
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    display:inline-flex;
}

.navResponsive .navbar-brand .minhaConta {
    padding-left: 80px;
}

.navResponsive ul {
    padding: 0;
    margin: 0;
}

.navResponsive .navbar-brand ul li a{
    list-style: none;
    text-decoration: none;
    color: black;
}

.navResponsive .navbar-brand ul li i{
    padding-left: 5px;
    font-size: 125%;
}

.navResponsive .botao {
    background: #e0e0e0;
    border: none;
    margin: 0;
}

.navResponsive .botao:focus {
    box-shadow: none;
    background: #A30000;
}

.navResponsive button i {
    color: black;
}


/* --------------------------
Fim -> navResponsive 
------------------------------*/

/* -----------------------
Início do carrosel
-------------------------- */

.carousel {
    margin: 0px 0 25px 0;
}

.carousel i {
    font-size: 400%;
    color: #ffffff;
}

.textoCarrosel {
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}


/* --------------------------------
Fim do carrosel
-------------------------------- */

/* -----------------------------------
Início ->Confira as possibilidades da MAD.U para o seu segmento:
-------------------------------------------------- */
.segmento {
    margin: 25px 0 25px 0;
    text-align: center;
}

.segmento .segmentoLink {
    background: #F7F7F7;
    margin: 0;
    padding: 25px;
}

.segmento a {
    text-decoration: none;
    list-style: none;
    color: #A30000;
}

.segmento a h3 {
    font-weight: 700;
}

.segmento h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}

.segmento h3 {
    font-size: 20px;
}

.zoomImg {
    transition: transform 0.3s ease;
    width: 70%;
    margin-bottom: 10px;
  }
  
.zoomImg:hover {
    transform: scale(1.1);
  }

/* -----------------------------------
Fim ->Confira as possibilidades da MAD.U para o seu segmento:
-------------------------------------------------- */

/* ----------------------------------------------
Início -> Produtos em destaque
--------------------------------------------- */

.produtosDestaque {
    text-align: center;
}

.produtosDestaque h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}

.produtosDestaque .col-md-3 {
    margin-bottom: 40px;
}

.produtosDestaque .bordaProdutos {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 2px;
}

.produtosDestaque .bordaProdutosMais {
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    padding-bottom: 30px;
    padding-top: 2px;
}

.produtosDestaque .espacoCategorias {
    padding: 0px !important;
    margin: 0px !important;
}

.produtosDestaque img {
    padding-bottom: 30px;
}

.produtosDestaque a {
    list-style: none;
    text-decoration: none;
}

.produtosDestaque h3 {
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.produtosDestaque h4 {
    font-size: 16px;
    color: gray;
    font-weight: 600;
}

.produtosDestaque span {
    font-size: 12px;
    padding: 4px 10px 4px 10px;
    background-color: black;
    color: white;
    margin-top: 20px;
}

.produtosDestaque span:hover {
    background-color: black;
    color: white;
}

/* ------------------------------------------
Fim -> Produtos em destaque
--------------------------------------------------- */

/* ------------------------------------------
Início -> Categorias
--------------------------------------------------- */

.secaoCategorias {
    background: #F7F7F7;
    text-align: center;
}

.secaoCategorias h2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 80px;
    margin-bottom: 40px;
}

.secaoCategorias a {
    text-decoration: none;
    list-style: none;
}

.secaoCategorias img {
    border-radius: 50%;
    border: solid 3px rgb(214, 214, 214);
}

.secaoCategorias h3 {
    font-size: 14px;
    font-weight: 600;
    color: #1f1f1f;
    margin-top: 10px;
}

/* ------------------------------------------
Fim -> Categorias
--------------------------------------------------- */

/* ------------------------------------
Início -> Mais vedidos
------------------------------------ */

.maisVendidos {
    text-align: center;
    padding: 80px 0 25px 0;
}

.maisVendidos h2 {
    font-size: 25px;
    font-weight: 600;
}

.maisVendidos .carousel-inner {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
}

.maisVendidos .botao {
    color: #7a7a7a;
}

.maisVendidos h3 {
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.maisVendidos h4 {
    font-size: 18px;
    color: #3a3a3a;
    font-weight: 600;
}

.maisVendidos .btn {
    background: #202020;
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.maisVendidos .btn:hover {
    background: #AA0000;
}

/* -------------------------------------
Fim -> Mais vendidos
------------------------------------ */

/* -----------------------------------------
Início -> Inovaçao, qualidade e tecnologia
----------------------------------------- */

.inovacao {
    text-align: center;
    padding-bottom: 25px;
}

.inovacao .inovacaoBorda {
    border: solid 1px rgb(214, 214, 214);
    border-radius: 5px;
    padding-top: 10px;
}

.inovacao a {
    text-decoration: none;
    list-style: none;
}

.inovacao h3 {
    font-size: 25px;
    font-weight: 600;
    color: black;
    padding: 5px;
}

.inovacao p {
    font-size: 16px;
    font-weight: 500;
    color: black;
    line-height: 1;
    padding: 0;
}

/* -----------------------------------------
Fim -> Inovaçao, qualidade e tecnologia
----------------------------------------- */

/* -----------------------------
Início -> Made for you
-------------------------------- */
.madeForYou {
    background: #F7F7F7;
    text-align: left;
    padding: 80px 0 25px 0;
}

.madeForYou h2 {
    font-size: 43px;
    font-weight: 600;
    color: #A30000;
}

.madeForYou p {
    font-size: 16px;
    font-weight: 500;
}

.madeForYou iframe {
    border-radius: 20px !important;
}
  

/* -------------------------------
Fim -> Made for you
---------------------------------- */

/* ---------------------------
Início -> Formulário
-------------------------------- */

.form {
    background: #D9D8D7;
    padding: 50px 0 50px 0;
    text-align: center;
}

.form h2 {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.form input {
    border-radius: 20px;
}

.form .btn {
    background: black;
    color: white;
    padding-left: 75px;
    padding-right: 75px;
}

/* ---------------------------
Fim -> Formulário
-------------------------------- */

/* ----------------------------------
Início -> Footer
------------------------------------ */

.primeiraDivFooter {
    background: #393939;
    color: white;
    padding-top: 25px;
}

.primeiraDivFooter .col-md-4 p {
    font-size: 14px;
    text-align: left;
    margin-left: 0px;
}

.primeiraDivFooter .col-md-4 h2 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 15px;
}

.primeiraDivFooter a {
    text-decoration: none;
    list-style: none;
}

.primeiraDivFooter ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.primeiraDivFooter ul li {
    text-decoration: none;
    list-style: none;
    padding: 0 0 5px 0;
    margin: 0;
    font-size: 14px;
}

.primeiraDivFooter i {
    font-size: 85%;
    padding-right: 10px;
}

.segundaDivFooter {
    background: #2C2C2C;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

.segundaDivFooter {
    display: flex;
    justify-content: center;
}

.segundaDivFooter span {
    font-size: 14px;
    font-weight: 600;
}

.segundaDivFooter .siteSeguro {
    padding: 0;
    margin: 0;
}

.segundaDivFooter .siteSeguro i {
    padding: 0 5px 0 0;
    margin: 0;
    font-size: 200%;
    text-align: right;
    float: right;
}

.segundaDivFooter .siteSeguro h3 {
    font-size: 15px;
    font-weight: 600;
    padding: 0 7px 0 0;
    margin: 0;
    text-align: left;
}

.segundaDivFooter .siteSeguro h4 {
    font-size: 12px;
    padding: 0;
    margin: 0;
    text-align: left;
}

.segundaDivFooter .redesSociais ul {
    padding: 0px;
    text-align: right;
}

.segundaDivFooter .redesSociais ul li {
    text-decoration: none;
    list-style: none;
    display:inline-flex;
    padding-left: 20px;
    padding-right: 0px;
    text-align: right;
    padding-bottom: 0;
}

.segundaDivFooter .redesSociais ul li i {
    font-size: 120%;
    text-align: right;
    padding: 0;
}



/* ------------------------------------
Fim -> Footer
-------------------------------- */

/* -------------------------------
Início -> Responsividade do site
--------------------------------- */

@media (max-width: 575.98px) {
    /* ------------------------------
    header
    ----------------------------- */

    /*-----------------------
     Nav
     ------------------- */

     /* -------------------
     Carrosel
     ----------------- */
    .carousel {
        margin: 0;
    }
    
    .carousel i {
        font-size: 100%;
        color: #ffffff;
        visibility: hidden;
    }

    .carousel button {
        visibility: hidden;
    }
    
    .carousel .textoCarrosel {
        padding: 0;
        width: 80%;
        text-align: left;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        font-weight: 700;
        line-height: 1;
        font-size: 16px;
    }

    /* ------------------------
    Segmento
    ------------------------ */

    .segmento h2 {
        font-size: 16px;
    }

    .segmento .col-4 {
        padding: 5px;
        margin: 0px;
    }

    .segmento .col-4 h3 {
        padding: 0;
        margin: 0;
        font-size: 16px;
        text-align: center;
        padding-bottom: 30px;
    }

    .segmento .segmentoLink {
        padding: 0;
        margin: 0;
    }

    .segmento img {
        width: 40%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /* ------------------------
    Produtos em destque
    ------------------------- */

    .produtosDestaque h2 {
        font-size: 16px;
    }

    .produtosDestaque h3 {
        font-size: 16px;
    }

    .produtosDestaque h4 {
        font-size: 16px;
    }

    .produtosDestaque span {
        margin: 0;
    }

    .produtosDestaque .bordaProdutos {
        height: 100%;
    }

    /* -----------------------------
    Categorias
    ----------------------------- */

    .secaoCategorias h2 {
        font-size: 16px;
    }

    .secaoCategorias h3 {
        font-size: 14px;
    }

    /* -----------------------------
    Mais vendidos
    --------------------------------- */
    .maisVendidos .container {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .maisVendidos .container {
        width: 100%;
    }

    .maisVendidos .col-6 h3 {
        font-size: 18px;
        width: 100%;
    }

    .maisVendidos .col-6 h4 {
        font-size: 18px;
    }

    .maisVendidos span {
        font-size: 14px;
    }

    
}


/* -------------------------------
Início -> Responsividade do site
--------------------------------- */

