@import 'header.css';
@import 'footer.css';
@import 'index.css';
@import 'media.css';
@import 'pagNossasLinhas.css';
@import 'pagProdutos.css';
@import 'pagProduto.css';

/*Body da página*/
body {
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    overflow-x:hidden;
}

/* -----------------------------
Botão do WhatsApp
--------------------------- */

/* style="position:fixed;width:60px;height:120px;bottom:-20px;right:40px; z-index:1000;" */

.whatsapp {
    position: fixed;
    width: 60px;
    height: 120px;
    top: 85%;
    right: 40px;
    z-index: 1500;

}

.whatsapp img {
    width: 100%;
}

/* --------------------------------
Rotas
---------------------------------------- */

.secaoRotas .backgroundColor {
    background-color: rgba(16, 30, 66, 0.59);
    padding: 25px;
    margin: 0 !important;
}

.secaoRotas {
    background-image: url(../img/slide-comercio.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0 !important;
    margin: 0;
}

.secaoRotas a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.secaoRotas p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.secaoRotas span {
    color: #FFFFFF;
    font-size: 25px;
    letter-spacing: -0.6px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
    line-height: 1;
}

@media (max-width: 767.50px) {

    body {
        font-family: 'Montserrat', sans-serif;
        background: #FFFFFF;
        overflow-x:hidden !important;
        width: 100% !important; /* Defina o valor desejado */
        margin: 0 auto !important; /* Centralizar o conteúdo */
    }
    

    .secaoRotas {
        margin: 130px 0 0 0;
    }
}


