/*Body da página*/
body {
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF;
    overflow-x:hidden;
}

/*--------------------------------------- 
Inicio do header 
---------------------------------------------------*/

.navTopo{
    background: #313131;
    color: #FFFFFF;
    padding: 0px;
    /* display: flex;
    align-items: center; Alinha ao centro verticalmente */
    /* justify-content: center; Alinha ao centro horizontalmente */
}

.navTopo h2 {
    display:inline-flex;
    font-size: 12px;
    /* font-weight: 400; */
    /* margin-left: 0px; */
    font-weight: bold;
}

.navTopo ul {
    list-style: none;
    margin: 0;
}

.navTopo ul li {
    display:inline-flex;
    list-style: none;
    font-size: 13px;
    font-weight: 600;
    padding-right: 20px;
    vertical-align: middle;
    padding-left: 20px;
}

.navTopo ul li a {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 20px !important;
}
.navTopo ul li a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.navTopo ul li i {
    font-size: 150%;
    padding-right: 5px;
}

/* ------------------------------------
Fim do header
------------------------------------------ */

/* ------------------------------------------------------
Inicio -> navPesquisa
--------------------------------------- */

.navPesquisa {
    margin: 20px;
}

.zoomImg {
    transition: transform 0.3s ease;
    width: 70%;
    margin-bottom: 10px;
  }
  
.zoomImg:hover {
    transform: scale(1.1);
  }

.navPesquisa form input{
    border-radius: 15px 0 0 15px !important;
    background: #EEEEEE !important;
    border: none;
    margin: 0;
    padding: 10px 0px 10px 15px;
    margin-left: 40px;
}

.navPesquisa form input:focus {
    box-shadow: none
}

.navPesquisa button {
    background: #153B64 !important;
    margin: 0;
    border-radius: 0 15px 15px 0 !important;
    border: none;
}

.navPesquisa button i {
    color: white;
}

.navPesquisa ul li {
    text-decoration: none;
    list-style: none;
    display:inline-flex;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 600;
    padding-left: 6px;
    padding-right: 6px;
}

.navPesquisa ul li a {
    text-decoration: none;
    list-style: none;
    display:inline-flex;
    vertical-align: middle;
    color: black;
}

.navPesquisa ul li a:hover {
    text-decoration: none;
    list-style: none;
}

.navPesquisa ul li a i {
    font-size: 125%;
    padding: 0 7px 0 7px;
}



/*------------------------------------------- 
Fim -> navPesquisa
---------------------------------------------------*/

/* ------------------------------------------
Início do NavMenu
------------------------------------------ */

.navMenu {
    background: #F7F7F7 !important;
    padding: 13px;
}

.navMenu ul {
    font-size: 16px;
    font-weight: 600;
}

.navMenu ul li{
    border-bottom: 3px solid #f7f7f7;

}

.navMenu ul li a {
    color: black;  
    margin: 0 10px 0 12px;
}

.navMenu ul li:hover{
    color: #0F0F0F !important;
    border-bottom: 3px solid #153B64;
}

.navMenu span {
    font-weight: 600;
    padding-right: 50px;
}

.navMenu a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.navMenu a:hover {
    color: rgb(82, 82, 82);
}

.navMenu button {
    padding: 5px 25px 5px 25px;
    background: #153B64;
    border-radius: 50px;
}

.navMenu button a{
    text-decoration: none;
    list-style: none;
    color: white !important;
    margin: 0 5px 0 5px;
    font-size: 13px;
}

.navMenu button:hover {
    background: #153B64;
}

.navMenu button i {
    font-size: 80%;
    color: white;
}

.navMenu ul li ul {
    margin-top: 3px;
    padding: 0;
}


.navMenu ul li ul li {
    padding: 10px 15px 10px 15px;
    border: none;
}

.navMenu ul li ul:hover {
    padding: 0;
}

.navMenu ul li ul li:hover {
    padding: 10px 15px 10px 15px;
    border: none;
}   

.navMenu ul li ul li a {
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
}

.navMenu ul li ul li a:hover {
    padding: 0;
    background: white;
    color: #153B64;
    border: none;
}

    
/* -----------------------------------------
Fim -> NavMenu
-------------------------------------------- */

/* -----------------------
Início do carrosel
-------------------------- */

.carrossel {
    padding: 25px 0 0 0;
}

.carrossel .carousel {
    margin: 0px 0 25px 0;
    border-radius: 15px;
}

.carrossel .carousel img {
    border-radius: 15px;
    width: 100%;
}

.carrossel .carousel-item {
    height: 400px;
}

.carrossel .carousel p {
    font-size: 35px;
    width: 80%;
}

.carousel i {
    font-size: 350%;
    color: #ffffff;
}

.textoCarrosel {
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}

.carrossel .carousel .btn {
    text-align: center;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 0px;
    text-align: center;
    font-size: 20px !important;
    padding-top: 1%;
    margin-left: 5%;
    width: 30%;
    height: 35%;
}


/* --------------------------------
Fim do carrosel
-------------------------------- */

/* -----------------------------------
Início ->Confira as possibilidades da MAD.U para o seu segmento:
-------------------------------------------------- */
.segmento {
    margin: 25px 0 25px 0;
    text-align: center;
}

.segmento .segmentoLink {
    background: #F7F7F7;
    margin: 0;
    padding: 25px;
    height: 100%;
}

.segmento a {
    text-decoration: none;
    list-style: none;
    color: #383838;
}

.segmento a h3 {
    font-weight: 700;
}

.segmento h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
    padding: 0;
    margin-top: 0;
}

.segmento h3 {
    font-size: 20px;
}

.segmento ul {
    padding: 0;
    margin: 0;
}

.segmento ul li {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #54595F;
    font-size: 14px;
    font-weight: 600;
}

.zoomImg {
    transition: transform 0.3s ease;
    width: 70%;
    margin-bottom: 10px;
  }
  
.zoomImg:hover {
    transform: scale(1.1);
  }

/* -----------------------------------
Fim ->Confira as possibilidades da MAD.U para o seu segmento:
-------------------------------------------------- */

/* -------------------------------
Início da secaoExperimente 
------------------------------*/

.secaoExperimente {
    text-align: center;
}

.secaoExperimente h2 {
    font-size: 25px;
    font-weight: 600;
}

/* ---------------------------
Fim da secaoExperimente
--------------------------------- */

/* -------------------------------
Início do secaoLinhasProdutos
---------------------------- */

.secaoLinhasProdutos {
    padding: 25px 25px 20px 25px;
    background: #F7F7F7;
    text-align: center;
}

.secaoLinhasProdutos h2 {
    padding: 25px;
}

.secaoLinhasProdutos .fundoMADU {
    background: #FFFFFF;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.secaoLinhasProdutos h3 {
    font-size: 28px;
    color: #153B64;
    font-weight: 600;
}

.secaoLinhasProdutos p {
    font-size: 15px;
    color: #7A7A7A;
    font-weight: 500;
}



/* ----------------------
Fim do secaoLinhasProdutos
---------------------------- */

/* -----------------------------------------
Início -> Inovaçao, qualidade e tecnologia
----------------------------------------- */

.inovacao {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 40px;
}

.inovacao .col-md-4 {
    height: 450px;
}

.inovacao .inovacaoBorda {
    border: solid 1px rgb(214, 214, 214);
    border-radius: 5px;
    padding-top: 10px;
    height: 100%;
    cursor: pointer;
}

.inovacao a {
    text-decoration: none;
    list-style: none;
}

.inovacao h3 {
    font-size: 25px;
    font-weight: 600;
    color: black;
    padding: 5px;
}

.inovacao p {
    font-size: 16px;
    font-weight: 500;
    color: black;
    line-height: 1;
    padding: 5px;
}

.inovacao img {
    padding-top: 10px;
    width: 80%;
}

.modal-header {
    border-bottom: none;
}

.modal h2 {
    font-size: 41px;
    font-weight: 600;
    color: #2C2C2C;
    padding-bottom: 15px;
    margin-top: -30px;
}

.modal h3 {
    font-size: 1.25rem;
    line-height: 1.2;
    color: #2C2C2C;
    padding-bottom: 15px;
    font-weight: 600;
}

.modal p {
    font-size: 0.9rem;
    font-weight: 500;
    color: #2C2C2C;
    text-align: justify;
}

/* -----------------------------------------
Fim -> Inovaçao, qualidade e tecnologia
----------------------------------------- */

/* ---------------------------
Início -> Formulário
-------------------------------- */

.form {
    background: #D9D8D7;
    padding: 50px 0 50px 0;
    text-align: center;
}

.form h2 {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.form input {
    border-radius: 20px;
}

.form .btn {
    background: black;
    color: white;
    padding-left: 75px;
    padding-right: 75px;
}

/* ---------------------------
Fim -> Formulário
-------------------------------- */

/* ----------------------------------
Início -> Footer
------------------------------------ */

.primeiraDivFooter {
    background: #393939;
    color: white;
    padding-top: 25px;
}

.primeiraDivFooter .col-md-4 p {
    font-size: 14px;
    text-align: left;
    margin-left: 0px;
}

.primeiraDivFooter .col-md-4 h2 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 15px;
}

.primeiraDivFooter a {
    text-decoration: none;
    list-style: none;
}

.primeiraDivFooter ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.primeiraDivFooter ul li {
    text-decoration: none;
    list-style: none;
    padding: 0 0 5px 0;
    margin: 0;
    font-size: 14px;
}

.primeiraDivFooter i {
    font-size: 85%;
    padding-right: 10px;
}

.segundaDivFooter {
    background: #2C2C2C;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

.segundaDivFooter {
    display: flex;
    justify-content: center;
}

.segundaDivFooter span {
    font-size: 14px;
    font-weight: 600;
}

.segundaDivFooter .siteSeguro {
    padding: 0;
    margin: 0;
}

.segundaDivFooter .siteSeguro i {
    padding: 0 5px 0 0;
    margin: 0;
    font-size: 200%;
    text-align: right;
    float: right;
}

.segundaDivFooter .siteSeguro h3 {
    font-size: 15px;
    font-weight: 600;
    padding: 0 7px 0 0;
    margin: 0;
    text-align: left;
}

.segundaDivFooter .siteSeguro h4 {
    font-size: 12px;
    padding: 0;
    margin: 0;
    text-align: left;
}

.segundaDivFooter .redesSociais ul {
    padding: 0px;
    text-align: right;
}

.segundaDivFooter .redesSociais ul li {
    text-decoration: none;
    list-style: none;
    display:inline-flex;
    padding-left: 20px;
    padding-right: 0px;
    text-align: right;
    padding-bottom: 0;
}

.segundaDivFooter .redesSociais ul li i {
    font-size: 120%;
    text-align: right;
    padding: 0;
}



/* ------------------------------------
Fim -> Footer
-------------------------------- */

/* -------------------------------
Início -> Responsividade do site
--------------------------------- */

@media (max-width: 575.98px) {
    /* ------------------------
    Body
    ------------------------ */
    body {
        font-family: 'Montserrat', sans-serif;
        background: #FFFFFF;
        overflow-x:hidden !important;
        width: 100% !important; /* Defina o valor desejado */
        margin: 0 auto !important; /* Centralizar o conteúdo */
    }
    
    /* ------------------------------
    header
    ----------------------------- */

    /*-----------------------
     Nav
     ------------------- */

     .navResponsive {
        padding-top: 10px;
        padding-bottom: 0px;
        margin: 0;
    }
    
    .navResponsive nav {
        padding: 0;
        margin: 0;
    }
    
    .navResponsive form input{
        border-radius: 15px 0 0 15px !important;
        background: #EEEEEE !important;
        border: none;
        margin: 0;
        padding: 10px 0px 10px 15px;
    }
    
    .navResponsive form input:focus {
        box-shadow: none
    }
    
    .navResponsive form button {
        background: #153B64 !important;
        margin: 0;
        border-radius: 0 15px 15px 0 !important;
        border: none;
    }
    
    .navResponsive .btn i {
        color: white;
    }
    
    .navResponsive .fundo {
        background: #f7f7f7;;
    }
    
    .navResponsive .navbar-brand ul li{
        list-style: none;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display:inline-flex;
    }

    .navResponsive .navbar-brand ul li {
        padding-left: 15% !important;
    }
    
    .navResponsive .navbar-brand .minhaConta {
        padding-left: 30% !important;
    }
    
    .navResponsive ul {
        padding: 0;
        margin: 0;
    }
    
    .navResponsive ul li a{
        list-style: none;
        text-decoration: none;
        color: black;
    }
    
    .navResponsive .navbar-brand ul li i{
        padding-left: 5px;
        font-size: 125%;
    }
    
    .navResponsive .botao {
        background: #e0e0e0;
        border: none;
        margin: 0;
    }
    
    .navResponsive .botao:focus {
        box-shadow: none;
    }
    
    .navResponsive button i {
        color: black;
    }

     /* -------------------
     Carrosel
     ----------------- */
    .carousel {
        margin: 0;
    }

    .carousel img {
        width: 120%;
        zoom: 1;
        height: 100%;

    }

    .carousel .carousel-item {
        height: 180px;
    }

    .carousel .carousel-item p {
        width: 80%;
        font-size: 16px;
    }
    
    .carousel i {
        font-size: 200%;
        color: #ffffff;
    }

    
    .carousel .textoCarrosel {
        padding: 0;
        text-align: left;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        font-weight: 700;
        line-height: 1;
        font-size: 18px;
    }

    .carousel .textoCarrosel .btn{
        font-size: 16px !important;
        height: 50% !important;
    }

    /* ------------------------
    Segmento
    ------------------------ */
    
    .segmento {
        text-align: center !important;
    }

    .segmento h2 {
        text-align: center !important;
        font-size: 27px;
    }

    .segmento .col-4 {
        padding: 0px !important;
        margin: 0px !important;
        text-align: center !important;
        padding-bottom: 10px !important;
    }

    .segmento .col-4 ul li{
        text-align: center !important;
    }

    .segmento .col-4 h3 {
        padding: 0;
        margin: 0;
        font-size: 16px;
        text-align: center;
        padding-bottom: 30px;
    }

    .segmento .segmentoLink {
        padding: 0;
        margin: 0;
        width: 95%;
        height: 100%;
    }

    .segmento img {
        width: 50%;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /* ------------------------
    secaoExperimente
    --------------------- */

    .secaoExperimente .col-md-12 h2 {
        text-align: center !important;
    }

    .secaoExperimente iframe {
        height: 200px;
        width: 100%;
    }

    /* ------------------
    secaoLinhasProdutos
    --------------------- */

    .secaoLinhasProdutos {
        padding: 0 0 25px 0;
        margin: 0;
    }

    .secaoLinhasProdutos .col-md-12 h2 {
        text-align: center !important;
        font-size: 28px;
        font-weight: 600;
    }
   
    /* ----------------------
    Formlulário
    ----------------------- */

    .form {
        padding: 25px 0;
    }

    .form h2 {
        text-align: center !important;
    }

    .form .col-md-5 {
        margin-bottom: 10px;
    }

    .form .col-12 {
        width: 3000;
    }

    /* -----------------
    Footer
    ------------------- */

    .primeiraDivFooter {
        padding-bottom: 25px;
    }

    .primeiraDivFooter img {
        width: 40% !important;
        margin: 0 0 0 -10px;
        padding: 0;

    }

    .primeiraDivFooter p, h2, ul, ul li, ul li i {
        text-align: left !important;
    }

    .segundaDivFooter {
        text-align: center;
    }

    .segundaDivFooter .copyRight {
        text-align: left;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .segundaDivFooter .escudo {
        padding: 5px;
    }

    .segundaDivFooter .escudo i {
        font-size: 165%;
    }

    .segundaDivFooter h3 {
        font-size: 14px;
        font-weight: 600;
        padding: 0;
        margin: 0;
        letter-spacing: -1px;
        line-height: 10px;
    }

    .segundaDivFooter h4 {
        font-size: 14px;
        padding: 0;
        margin: 0;
        letter-spacing: -1px;
    }

    .segundaDivFooter ul {
        text-decoration: none;
        list-style: none;
        display:inline-flex;
        padding-right: 5%;
    }

    .segundaDivFooter ul li {
        padding: 15px;
    }

    
}


/* -------------------------------
Início -> Responsividade do site
--------------------------------- */

